/* * {
    background-color: #E0F7FA;
    text-align: center;
    font-family: Arial;
} */

body {
    width: 95%;
    margin: auto;
    background-color: #E0F7FA;
    text-align: center;
    font-family: Arial;
}

header {
    background-color: #00838F;
    height: 200px;
}

nav {
    background-color: #006064;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
    background-color: #006064;
    font-size: 150%;
}

main {
    height: 350px;
    width: 100%;
}

footer {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

i {
    background-color: #006064;
}

ul, li {
    text-align: left;
}

button {
    background-color: #00838F;
    color: white;
    margin-right: 30px;
}

button:hover {
    color: #80DEEA;
}

.blok1 {
float: left;
width: 33%;
}

.blok2 {
    float: left;
    width: 33%;
}

.blok3 {
    float: right;
    width: 33%;
}