* {
    font-family: Helvetica;
}

header {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}


main {
    width: 80%;
    height: 700px;
    font-size: 120%;
    overflow: auto;
    float: left;
    background-color: white;
}

nav {
    background-color: peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
    float: left;
    text-align: center;
}

aside {
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
    float: right;
}

footer {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}

a {
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover {
    color: white;
}

img {
    float: left;
    margin: 30px;
}